In [1]:
import pandas as pd

import pymongo
from pymongo import MongoClient

import extract as extrct

In [2]:
client = MongoClient('localhost', 27017)

db = client['muni_testing']
out_collection = db['avl_raw']

In [3]:
# Optional - Clean the collections
out_collection.delete_many({});

In [4]:
gtfs_periods = pd.read_csv('data/gtfs_lookup.csv')
gtfs_periods

    from_date     to_date         directory  sign_id
0  2016-08-13  2017-02-10  sfmta_2017-02-10      105
1  2016-06-04  2016-08-12  sfmta_2016-08-12      105
2  2016-04-23  2016-06-03  sfmta_2016-06-03      102
3  2015-09-26  2016-04-22  sfmta_2016-04-22      100

In [5]:
extractor = extrct.Extractor(out_collection)

In [6]:
extractor.setup()

In [8]:
extractor.get_insert_data()

Getting data from  08132016
Getting data from  08142016
Getting data from  08152016
Getting data from  08162016
Getting data from  08172016
Total lines read:  1177264
Filtered lines kept:  8037

In [22]:
out_collection.count()

989439