In [41]:
import pandas as pd

In [1]:
sc

In [2]:
spark

In [32]:
cln_list = []

with open('data/avl/sfmtaAVLRawData01032016.csv') as infile:
    for line in infile:
        line = line.strip()
        
        if len(line) > 125:
            cln_list.append(line[0:89])
            cln_list.append(line[89:])
        
        if len(line) != 0 and len(line) < 125:
            cln_list.append(line)

with open('data/avl/clean_sample.csv', 'w') as outfile:
    for row in cln_list:
        outfile.write(row + '\n')

yolo 149

In [36]:
# read CSV
df = spark.read.csv('data/avl/clean_sample.csv',
                         header=True,       # use headers or not
                         quote='"',         # char for quotes
                         sep=",",           # char for separation
                         inferSchema=True)  # do we infer schema or not ?

In [37]:
# prints the schema
df.printSchema()

# some functions are still valid
print("line count: {}".format(df.count()))

# show the table in a oh-so-nice format
df.show()

root
 |-- REV: integer (nullable = true)
 |-- REPORT_TIME: string (nullable = true)
 |-- VEHICLE_TAG: string (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- SPEED: double (nullable = true)
 |-- HEADING: double (nullable = true)
 |-- TRAIN_ASSIGNMENT: string (nullable = true)
 |-- PREDICTABLE: integer (nullable = true)

line count: 494778
+----+-------------------+-----------+----------+--------+-----+-------+----------------+-----------+
| REV|        REPORT_TIME|VEHICLE_TAG| LONGITUDE|LATITUDE|SPEED|HEADING|TRAIN_ASSIGNMENT|PREDICTABLE|
+----+-------------------+-----------+----------+--------+-----+-------+----------------+-----------+
|1506|01/03/2016 00:03:29|         01|-122.42047|37.80633|  0.0|  201.0|            null|          0|
|1506|01/03/2016 00:04:59|         01|-122.42049|37.80638|  0.0|  256.0|            null|          0|
|1506|01/03/2016 00:12:29|         01|-122.42092| 37.8069|  0.0|  247.0|            null|          0|
|1506|01/03/2016 00:13:59|         01|-122.42091| 37.8069|  0.0|    0.0|            null|          0|
|1506|01/03/2016 00:21:29|         01| -122.4209|37.80691|  0.0|  259.0|            null|          0|
|1506|01/03/2016 00:22:59|         01|-122.42121|37.80705|  0.0|  281.0|            null|          0|
|1506|01/03/2016 00:25:59|         01|-122.42099|37.80693|  0.0|    0.0|            null|          0|
|1506|01/03/2016 00:26:35|         01|-122.42046|37.80625|3.889|  170.0|            null|          0|
|1506|01/03/2016 00:26:53|         01|-122.42032|37.80556|3.333|  170.0|            null|          0|
|1506|01/03/2016 00:27:48|         01|-122.41992|37.80351|3.889|  170.0|            null|          0|
|1506|01/03/2016 00:28:06|         01|-122.41979|37.80283|3.333|  167.0|            null|          0|
|1506|01/03/2016 00:29:10|         01|-122.41927|37.80036|6.111|  171.0|            null|          0|
|1506|01/03/2016 00:29:52|         01|-122.41885|37.79828|3.889|  170.0|            null|          0|
|1506|01/03/2016 00:30:17|         01|-122.41859|37.79693|6.667|  169.0|            null|          0|
|1506|01/03/2016 00:31:16|         01|-122.41811|37.79466|3.889|  167.0|            null|          0|
|1506|01/03/2016 00:31:35|         01|-122.41799|37.79395|3.889|  172.0|            null|          0|
|1506|01/03/2016 00:31:56|         01|-122.41714|37.79381|3.889|   85.0|            null|          0|
|1506|01/03/2016 00:32:14|         01| -122.4163|37.79393|3.889|   80.0|            null|          0|
|1506|01/03/2016 00:32:33|         01|-122.41542|37.79401|3.889|   87.0|            null|          0|
|1506|01/03/2016 00:33:18|         01|-122.41282|37.79435|3.889|   81.0|            null|          0|
+----+-------------------+-----------+----------+--------+-----+-------+----------------+-----------+
only showing top 20 rows

In [39]:
df.describe('SPEED').show()

+-------+-----------------+
|summary|            SPEED|
+-------+-----------------+
|  count|           494778|
|   mean|4.265489779254438|
| stddev|4.961628821231181|
|    min|              0.0|
|    max|           67.778|
+-------+-----------------+

Let's see if we can throw in distance...

In [47]:
from pyspark.sql.functions import udf
from geopy import distance
from pyspark.sql.types import FloatType


def distance_function(lat,lon):
    
    start_latlon = (37.786908, -122.45656)
    row_latlon = (float(lat), float(lon))
    
    return distance.distance(start_latlon, row_latlon).m


distance_udf = udf(lambda lat, lon: distance_function(lat, lon), FloatType())

df_out = df.withColumn("distance", distance_udf(df['LATITUDE'], df['LONGITUDE']))

# df_out.select('Date','High', 'Low', 'Open', 'Close', 'special').show()
df_out.select('distance').show()

+---------+
| distance|
+---------+
|3840.6492|
|3842.3093|
|3844.0718|
| 3844.791|
| 3846.151|
| 3832.928|
|3840.9644|
|3836.4036|
|3804.4297|
|3716.1511|
|3689.3696|
| 3607.872|
| 3553.213|
|3524.5383|
|3494.3171|
|3486.0679|
|3555.6938|
| 3630.813|
| 3708.431|
|3940.2405|
+---------+
only showing top 20 rows